  <!-- footer -->
  <link rel="stylesheet" href="/public/css/footer.css">
  
  <footer>
    <div class="about">
      <h1><span class="logo-text">Where Words </span> <span>Matters</span></h1>
      <p>
        Thank you for choosing Where Words Matters as your go-to source for insightful and entertaining content. Start exploring, start reading, and let the journey begin!
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (91) 7755047950
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:guptasneha2003.sg@gmail.com">
            guptasneha2003.sg@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        
        
        <a href="https://www.linkedin.com/in/sneha-gupta-9013a3240/">
          <i class="fab fa-linkedin"></i>
        </a>
       
        <a href="mailto:guptasneha2003.sg@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/guptasneha03/">
          <i class="fab fa-instagram"></i>
        </a>
       
        <a href="https://github.com/guptasneha12">
          <i class="fa fa-github"></i>
        </a>
  </footer>
  